.project-tag {
  border: solid rgb(207, 207, 207) 2px;
  border-radius: 500px;
  display: flex;
  align-items: center;
}

.project-tag::after {
  margin-left: 0.2em;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: var(--color-sec);
}

@media all and (min-width: 768px) {
  .project-img {
    width: 75%;
  }
}
