nav-links .nav-item a {
  border-bottom: rgba(255, 255, 255, 0) 2px;
}

.navbar {
  background-color: var(--color-darker);
  color: #fff;
  padding-bottom: 0;
  margin-bottom: 0;
}

.active {
  color: var(--color-main);
}

.nav-color {
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}

.navbar-brand:hover {
  color: var(--color-tri) !important;
}
.nav-link,
.navbar-brand {
  color: var(--color-light) !important;
  padding-inline: 1rem !important;
  padding-block: 0.8rem !important;
}
.nav-link:hover {
  color: var(--color-main) !important;
}
.nav-link.active {
  color: var(--color-main) !important;
}

.nav-link:hover {
  filter: none;
}

.nav-about:hover {
  color: var(--color-main);
}

.nav-work:hover {
  color: var(--color-main);
}

.nav-blog:hover {
  color: var(--color-main);
}

.nav-contact:hover {
  color: var(--color-main);
}

/* Using hamburger menu */
