nav-links .nav-item a {
  border-bottom: rgba(255, 255, 255, 0) 2px;
}

.navbar {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 4px solid rgb(207, 207, 207) !important;
}

.nav-item:hover {
  border-bottom: red 50px;
}

.nav-color {
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}

.navbar-logo:hover {
  color: var(--color-tri);
}

.nav-color:hover {
  filter: none;
}

.nav-about:hover {
  color: var(--color-main);
}

.nav-work:hover {
  color: var(--color-main);
}

.nav-blog:hover {
  color: var(--color-main);
}

.nav-contact:hover {
  color: var(--color-main);
}
