nav-links .nav-item a {
  border-bottom: rgba(255, 255, 255, 0) 2px;
}

.navbar {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 4px solid rgb(207, 207, 207) !important;
}

.nav-item:hover {
  border-bottom: red 50px;
}

.nav-color {
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}

.nav-color:hover {
  filter: none;
}

.nav-color-red:hover {
  color: red;
}

.nav-color-yellow:hover {
  color: rgb(233, 233, 55);
}

.nav-color-blue:hover {
  color: rgb(0, 153, 255);
}

.nav-color-purple:hover {
  color: purple;
}
