.weatherly-project {
  background-color: #222;
  position: relative;
}

.weatherly-bg {
  color: #444;
}

/* .weatherly-0 {
  top: -10%;
  left: 50%;
  transform: rotate(5deg);
}
.weatherly-1 {
  top: -5%;
  left: 5%;
  transform: rotate(-5deg);
}
.weatherly-2 {
  top: -5%;
  left: 5%;
  transform: rotate(-5deg);
}
.weatherly-3 {
  top: -5%;
  left: 5%;
  transform: rotate(-5deg);
}
.weatherly-4 {
  top: -5%;
  left: 5%;
  transform: rotate(-5deg);
}
.weatherly-5 {
  bottom: -7%;
  right: 5%;
  transform: rotate(-5deg);
}
.weatherly-6 {
  bottom: -9%;
  right: 5%;
  transform: rotate(-5deg);
}
.weatherly-7 {
  bottom: -5%;
  left: 5%;
  transform: rotate(-5deg);
}
.weatherly-8 {
  bottom: -4%;
  right: 5%;
  transform: rotate(-5deg);
}

.weatherly-9 {
  bottom: -5%;
  left: 5%;
  transform: rotate(-5deg);
} */
